body {
    background-image: url(../img/lined_paper/lined_paper.png);
    font-family: 'Overpass Mono', monospace;
}

img {
    height: 150px;
}

h1 {
    color: white;
    font-family: 'Rock Salt', cursive;
    font-size: 64px;
}

a:hover {
    cursor: pointer;
}

input[type="text"] {
    padding-right: 40px;
}

button[type="submit"] {
    margin-left: -40px;
}


/*==============================================================*/


/*Blinking cursor for typed.js*/

.typed-cursor {
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
